html {
    /* background-color: chartreuse; */
    /* border-color: 1px solid; */
}

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ea693a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: monospace;
}

button:hover {
    background-color: #ea693a
}

button:active {
    background-color: #ea693a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

p {
    font-size: 25px;
    font-family: monospace;
}

#randomNumber {
    font-size: 20rem;
}

#randomNumber {
    width: 35rem;
    height: 35rem;
    line-height: 35rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1.25rem #ccc inset;
    -moz-box-shadow: 0 0 1.25rem #ccc inset;
    box-shadow: 0 0 1.25rem #ccc inset;
    border: 1px solid #999;
    color: #000;
    display: inline-block;
    padding: 0;
}

#aQuay {
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    color: white;
    background-image: -webkit-linear-gradient( 90deg, #2f2f2f 0%, #000000 100%, rgb(0 0 0) 100%);
}

.highlight {
    display: block;
}

#loadingnha {
    font-weight: bold;
    background-color: white;
    color: #ff4900;
    height: 100%;
    font-size: 7em;
    margin-top: 15px;
    padding: 0px;
}


@media only screen and (max-width: 600px) {
    body {
        background-repeat: round;
        background-position: center;
        background-size: cover;
        width: fit-content;
        height: 100vh;
        overflow: hidden;
    }
}
